.add-edit-body{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0.3);
}

.add-contact-div, .edit-contact-div{
    display: flex;
    flex-direction: row;
    position: fixed;
    border-radius: 16px;
    background-color: white;
    position-area: center;
    margin-left: 232px;
}

.add-contact-right, .edit-contact-right{
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #2a3647;
    border-radius: 16px 0px 0px 16px;
    width: 256px;
}

.add-contact-right img, .edit-contact-right img{
    height: 40px;
    width: 40px;
    margin-top: 72px;
}

.add-contact-right h1, .edit-contact-right h1{
    margin: 12px 0 8px 0;
    font-weight: bold;
    font-size: 43px;
    color: white;
}

.edit-contact-right h1{
    margin: 20px 0 8px 0;
}

.add-contact-right span, .edit-contact-right span{
    color: white;
    font-size: 20px;
}

.separate-add-contact, .separate-edit-contact{
    height: 2px;
    width: 64px;
    background-color: #29abe2;
    margin-top: 8px;
}

.add-contact-left, .edit-contact-left{
    display: flex;
    flex-direction: row;
    padding: 100px 40px;
    gap: 64px;
}

.add-contact-img-div, .edit-contact-img-div{
    margin-top: 32px;
}

.add-contact-img, .edit-contact-img{
    height: 90px;
    width: 90px;
    background-color: lightgray;;
    border-radius: 100%;
    border: 2px solid white;
}

.add-contact-form ,.edit-contact-form{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.name-email-phone-div{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.name-email-phone-input{
    height: 32px;
    width: 300px;
    padding-left: 16px;
    border-radius: 8px;
    border: 1px solid gray;
}

.buttons-div-form{
    display: flex;
    gap: 16px;
}

.button-cansel, .button-create-contact, .button-delete, .button-save{
    border: 1px solid;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.button-cansel, .button-delete{
    background-color: white;
    
}
.button-create-contact, .button-save{
    border: 1px solid #2a3647;
    background-color: #2a3647;
    color: white;
}

.button-cansel:hover, .button-delete:hover{
    border: 1px solid #29abe2;
    color: #29abe2;
    box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
}

.button-create-contact:hover, .button-save:hover{
    border: 1px solid #29abe2;
    background-color: #29abe2;
    box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
}


.buttons-div-form img{
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.close-button{
    position: absolute;
    border: 0;
    background-color: transparent;
    right: 32px;
    top: 32px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 100%;
    width: 23px;
    height: 23px;
    padding: 3.5px;
}

.close-button:hover{
    color: red;
    background: rgb(0, 0, 0, 0.1);
}

.display-none{
    display: none;
}


