/* Media Querry Big Displays */
@media (min-width: 1200px) {}

@media (max-width: 1141px) {
    .contact-details-haeder{
        flex-direction: column;
        gap: 8px;
    }
    
    .separate-contact-details-header{
        width: auto;
        height: 3px;
    }
}

@media (max-width: 1063px) {
    .img-name-div{
        flex-direction: column;
        align-items: normal;
        gap: 24px;
    }

    .contact-details-div{
        gap: 16px;
    }
}

/* Media Querry Small Displays */
@media (max-width: 900px) {}


@media (max-width: 800px) {}


@media (max-width: 620px) {

    .contacts-main {
        margin-left: 0;
        padding: 0;
    }

    .contact-details-div {
        display: none;
    }

    .contacts-div{
        flex: 1;
    }

    .contacts-list-body{
        padding-bottom: 8vh;
    } 
}



@media (max-width: 490px) {}

@media (max-width: 320px) {}