@import url("global.css");

.contacts-link,
.contacts-link:hover {
    background-color: var(--clr-900);
}

/* Left Section */
#contacts-main {
    display: flex;
    height: calc(100vh - 124px);
    padding: 2rem 2rem 0 2rem;
    margin-left: 22.138rem;
    overflow-x: hidden;
}

#left-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 320px;
}

#add-contact-btn-big {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
    flex: 1;
    max-height: 50px;
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    font-size: var(--fs-21);
    font-weight: 700;
    color: var(--clr-200);
    background-color: var(--clr-700);
    text-wrap: nowrap;
    cursor: pointer;
}

#add-contact-btn-big:hover {
    background-color: var(--clr-500);
}

/* Contact List */
#contacts-list-wrapper {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.list-alphabet {
    height: min-content;
    padding: 1rem;
    font-size: var(--fs-20);
}

.split-list-line {
    padding: 0;
    margin: 4px;
    border: 1px solid var(--clr-300);
}

.list-contact-wrapper {
    display: flex;
    gap: 35px;
    padding: 1rem;
}

.choosen,
.list-contact-wrapper:hover {
    border-radius: 10px;
    background-color: var(--clr-700);
    color: var(--clr-200);
}

.initial-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 42px;
    flex-shrink: 0;
    border-radius: 100%;
    font-size: var(--fs-16);
    color: var(--clr-200);
    border: 2px solid var(--clr-200);
}

.list-contact-information {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
}

.list-name {
    font-size: var(--fs-20);
}

.list-email {
    font-size: var(--fs-16);
    color: var(--clr-500);
}

/* Right Section */
#right-section {
    width: auto;
    padding: 2rem 0 0 2rem;
    z-index: 900;
}

.contact-details-haeder {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 30px;
    font-size: var(--fs-27);
}

#back-icon {
    display: none;
    border: none;
    background: none;
    cursor: pointer;
}

.split-contact-header {
    height: 59px;
    border: 3px solid var(--clr-500);
    border-radius: 2px;
}


/* Main Shown */
#showed-current-contact {
    flex-direction: column;
    padding: 1rem;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

/* Shown Head */
.current-top {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-wrap: wrap;
    gap: 54px;
}

.current-btns {
    display: flex;
    justify-content: start;
    gap: 13px;
}

#current-edit-responsive,
#current-delete-responsive,
#current-edit,
#current-delete {
    height: 64px;
    width: 120px;
    border: none;
    border-radius: 25px;
    font-size: var(--fs-16);
    background: none;
    cursor: pointer;
}

#current-edit-responsive:hover,
#current-delete-responsive:hover,
#current-edit:hover,
#current-delete:hover {
    color: var(--clr-500);
}

.current-icon,
#current-icon,
#edit-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    font-size: var(--fs-47);
    color: var(--clr-200);
    background-color: var(--clr-300);
}

.current-icon {
    height: 70px;
    width: 70px;
    padding: 1rem;
}

#current-name {
    font-size: var(--fs-47);
    font-weight: 700;
}

/* Shown bottom */
.current-information {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 1rem 0;
}

.current-information a,
.current-information a:visited {
    font-size: var(--fs-16);
    text-decoration: none;
    cursor: pointer;
}

.current-bottom p {
    font-size: var(--fs-20);
}

.current-bottom span {
    font-size: var(--fs-16);
    font-weight: 700;
}

#current-mail {
    color: var(--clr-500);
}

/* Lightbox */
#lightbox-overlay {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000004d;
    z-index: 9999;
}

#lightbox {
    display: flex;
    flex-direction: row;
    height: 50vh;
    width: 90%;
    border-radius: 10px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

/* Lightbox left */
.lightbox-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-700);
    color: var(--clr-200);
    border-radius: 20px 0 0 20px;
}

.join-logo-left {
    width: 55px;
}

h2 {
    margin: 2rem;
    font-size: var(--fs-61);
    font-weight: 700;
}

.lightbox-left span {
    font-size: var(--fs-27);
}

.blue-line {
    width: 80px;
    margin: 10px 2rem;
    border: 3px solid var(--clr-500);
    border-radius: 2px;
    align-self: start;
}

/* Lightbox right */
.lightbox-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    background-color: var(--clr-200);
    border-radius: 0 20px 20px 0;
}

.editing-lighbox {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 2rem;
}

#lightbox input {
    height: 50px;
    min-width: 300px;
    box-sizing: border-box;
    border: 1px solid var(--clr-300);
    border-radius: 10px;
    font-size: var(--fs-20);
}

#edit-name {
    background: url("../assets/img/person.png") no-repeat right 24px center;
}

#edit-email {
    background: url("../assets/img/mail.svg") no-repeat right 24px center;
}

#edit-phone {
    background: url("../assets/img/phone.png") no-repeat right 24px center;
}

.btns-lighbox {
    display: flex;
    gap: 24px;
}

#create-btn,
#saveBtn,
#cancel-btn,
#deleteBtn {
    display: flex;
    gap: 4px;
    padding: 1rem;
    border: 1px solid var(--clr-700);
    border-radius: 10px;
    font-size: var(--fs-21);
    font-weight: 700;
    color: var(--clr-200);
    background-color: var(--clr-700);
    cursor: pointer;
}

#create-btn:hover,
#saveBtn:hover {
    background-color: var(--clr-500);
    border: 1px solid var(--clr-500);
}

#create-btn img,
#saveBtn img {
    height: 20px;
    width: 20px;
    align-self: center;
}

#cancel-btn,
#deleteBtn {
    color: var(--clr-700);
    background-color: var(--clr-200);
}

#cancel-btn:hover,
#deleteBtn:hover {
    border: 1px solid var(--clr-500);
    color: var(--clr-500);
}

#responsive-small-edit,
#responsive-small-add {
    position: absolute;
    top: -100px;
}

#lightbox.show,
#showed-current-contact.show {
    transform: translateX(0);
}