/* Einheitliche HTML und Body Struktur */
html {
    font-size: 65.5%;
    /* Festsetzung der Font size. 1rem = 10px */
}


body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--clr-200);
}


/* Einheitliche Farben und Font Size über das gesamte Projekt */
:root {
    --clr-200: #f5f6f7;
    /* für Body und Backgrounds */

    --clr-300: #d1d1d1;
    /* für Border */

    --clr-400: #a8a8a8;
    /* für helle Font */

    --clr-500: #29abe3;
    /* für blaue Font und Balken */

    --clr-600: #3c516f;
    /* für sidebar Hover */

    --clr-700: #2A3647;
    /* für Sidebar */

    --clr-900: #091930;
    /* für Buttons */


    /* Font size ausgehend von 1440 x 1024 wie im Mockup */

    --fs-16: calc(0.98998rem + 0.390625vw);
    /* Dynamische Font Size von 16px */

    --fs-20: calc(1.37166rem + 0.390625vw);
    /* Dynamische Font Size von 20px */

    --fs-21: calc(1.46708rem + 0.390625vw);
    /* Dynamische Font Size von 21px */

    --fs-24: calc(1.75334rem + 0.390625vw);
    /* Dynamische Font Size von 21px */

    --fs-27: calc(2.0396rem + 0.390625vw);
    /* Dynamische Font Size von 27px */

    --fs-36: calc(2.89838rem + 0.390625vw);
    /* Dynamische Font Size von 36px */

    --fs-47: calc(3.948rem + 0.390625vw);
    /* Dynamische Font Size von 36px */

    --fs-61: calc(5.28387rem + 0.390625vw);
    /* Dynamische Font Size von 61px */

    --fs-64: calc(5.57013rem + 0.390625vw);
    /* Dynamische Font Size von 64px */
}


/* Andere allgemeine Klassen zur Mehrfach nutzung */
.display-flex {
    display: flex;
    justify-content: space-between;
}

.ju-co-normal{
    justify-content: normal;
}


.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.d-none {
    display: none;
}

p {
    font-size: var(--fs-16);
}

h1 {
    font-size: var(--fs-61);
    color: var(--clr-700);
    margin: 0;
}

h3 {
    font-size: calc(1.1485rem + 0.390625vw);
    color: var(--clr-700);
    margin: 0;
}