@import url("global.css");

.starting-logo,
.starting-logo-responsive {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    animation: slideToLeftCorner 1.25s ease forwards;
    animation-delay: 0.75s;
    z-index: 1000;
    background-color: var(--clr-200);
}

.starting-logo img,
.starting-logo-responsive img {
    width: 10%; /* Ausgangsgröße, die dir passt */
    height: auto; /* Automatische Höhe basierend auf Breite */
    object-fit: contain;
    align-self: center;
}

@keyframes slideToLeftCorner {
    to {
        width: 250px; /* Erhöhte Endgröße */
        height: 150px; /* Entsprechende Höhe */
        top: 20px;
        left: 0;
        transform: scale(1); /* Keine Verkleinerung */
    }
}