@import url("global.css");

.starting-logo,
.starting-logo-responsive {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    animation: slideToLeftCorner 1.25s 0.75s ease forwards;
    z-index: 2;
    background-color: var(--clr-200);
    object-fit: scale-down;
}

.starting-logo-responsive{
    transform: scale(2.8);
}

@keyframes slideToLeftCorner {
    to {
        width: 250px;
        height: 150px;
        top: 20px;
    }
    60%{
        background-color: transparent;
    }

    101%{
        object-fit: contain;
    }
}