@import url("global.css");

.sign-up-wrapper-responsive {
    display: none;
    font-size: var(--fs-16);
    color: var(--clr-700);
    align-items: center;
    padding: 2rem;
    gap: 8px;
}

.login-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 250px);
    padding: 16rem 4rem 4rem 4rem;
}

.sign-up-wrapper {
    position: absolute;
    top: 40px;
    right: 80px;
    font-size: var(--fs-16);
    color: var(--clr-700);
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 8px;
}

.sign-up-btn {
    padding: 8px 16px;
    font-weight: 600;
    text-decoration: none;
    color: var(--clr-200);
    background-color: var(--clr-700);
    border-radius: 8px;
    border: 1px solid var(--clr-700);
    font-size: 14px;
    transition: background-color 0.2s ease;
}

.sign-up-btn:hover {
    background-color: var(--clr-200);
    border: 1px solid var(--clr-700);
    color: var(--clr-700);
}

.logo {
    width: 100px;
    height: auto;
    margin-bottom: 32px;
    position: absolute;
    top: 40px;
    left: 80px;
}

.login-box {
    display: flex;
    flex-direction: column;
    background: #ffffff; /* Weiße Karte */
    width: 70%;
    max-width: 400px; /* Begrenzte Breite für bessere Proportionen */
    padding: 40px;
    border-radius: 12px;
    box-shadow: none; /* Schatten entfernen */
    text-align: center;
}

.underline {
    position: relative;
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    color: #000;
    text-align: center;
    margin-bottom: 32px;
}

.underline:after {
    content: "";
    position: absolute;
    left: 43.5%;
    right: 43.5%;
    bottom: -10px;
    height: 3px;
    background-color: var(--clr-500);
    border-radius: 3px;
}

.input-wrapper input {
    box-sizing: border-box;
    width: 90%;
    min-height: 48px;
    padding: 12px;
    border: 1px solid var(--clr-300);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    margin: 12px;
}

.button-row {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 40px;
}

.btn-primary,
.btn-secondary {
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: var(--clr-700); /* Dunkle Schriftfarbe */
    height: 48px;
    background-color: #ffffff; /* Weißer Gasblock */
    border: 2px solid var(--clr-700); /* Passender Rahmen */
    flex: 1;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.btn-secondary:hover,
.btn-primary:hover {
    background-color: var(--clr-700); /* Dunkler Hintergrund beim Hover */
    color: var(--clr-200); /* Helle Schrift beim Hover */
    border-color: var(--clr-700);
}

.email-input {
    background-image: url("../assets/img/mail.svg");
    background-repeat: no-repeat;
    background-position: right 24px center;
}

.password-input {
    background-image: url("../assets/img/lock.png");
    background-repeat: no-repeat;
    background-position: right 24px center;
}

.name-input {
    background-image: url("../assets/img/person.png");
    background-repeat: no-repeat;
    background-position: right 24px center;
}

.back-icon {
    display: flex;
    justify-content: left;
    align-items: center;
    object-fit: contain;
}

.back_to_login {
    display: flex;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    width: 320px;
    gap: 20px;
}

footer a {
    text-decoration: none;
    color: var(--clr-900);
    font-size: var(--fs-20); /* Erhöhte Schriftgröße */
    gap: 12px;
}

footer a:hover {
    color: var(--clr-500);
}