body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F5F5F5;
}

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
    padding-top: 60px;
}

.top-right {
    position: absolute;
    top: 40px;
    right: 80px;
    font-size: 16px;
    color: #2A3647;
    display: flex;
    align-items: center;
    gap: 8px;
}

.sign-up-btn {
    padding: 8px 16px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    background-color: #2A3647;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

.sign-up-btn:hover {
    background-color: #1c2b3b;
}

.logo {
    width: 100px;
    height: auto;
    margin-bottom: 32px;
    position: absolute;
    top: 40px;
    left: 80px;
}

.login-box {
    background: white;
    width: 652px;
    padding: 48px 40px;
    border-radius: 12px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 36px;
    margin-bottom: 4px;
    font-weight: 700;
    color: #000;
}

.underline {
    width: 80px;
    height: 3px;
    background-color: #29ABE2;
    margin: 0 auto 32px;
    border-radius: 3px;
}

.input-wrapper input {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding: 0 16px 0 48px;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    margin-bottom: 24px;
}

.input-wrapper input {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding: 0 48px 0 16px;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    background-color: #FFF;
}

.input-icon {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    fill: #A8A8A8;
    background-color: #000000;
    fill: #000;
    color: #b91515;
    opacity: 1;
}

.button-row {
    display: flex;
    gap: 16px;
    margin-top: 50px;
}

.btn-primary,
.btn-secondary {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    /* border: none; */
    color: white;
    height: 48px;
    border-radius: 8px;
    font-size: 16px;
}

.btn-primary {
    background-color: #2A3647;
}

.btn-secondary {
    background-color: white;
    color: #2A3647;
    border-color: #2A3647;
    border-radius: 8px;
}

.footer-links {
    position: absolute;
    bottom: 24px;
    display: flex;
    gap: 24px;
    font-size: 14px;
}

.footer-links a {
    color: #2A3647;
    text-decoration: none;
}

.email_input {
    background-image: url("/assets/img/mail.svg");
    background-repeat: no-repeat;
    background-position: 600px center;
}

.password_input {
    background-image: url("/assets/img/lock.png");
    background-repeat: no-repeat;
    background-position: 600px center;
}