body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F5F5F5;
}

.login-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
    padding: 40px;
}

.sign-up-wrapper {
    position: absolute;
    top: 40px;
    right: 80px;
    font-size: 16px;
    color: #2A3647;
    display: flex;
    align-items: center;
    gap: 8px;
}

.sign-up-btn {
    padding: 8px 16px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    background-color: #2A3647;
    border-radius: 8px;
    border: 1px solid #2A3647;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

.sign-up-btn:hover {
    background-color: #ffffff;
    border: 1px solid #2A3647;
    color: #2A3647;
}

.logo {
    width: 100px;
    height: auto;
    margin-bottom: 32px;
    position: absolute;
    top: 40px;
    left: 80px;
}

.login-box {
    display: flex;
    flex-direction: column;
    background: white;
    width: 70%;
    max-width: 900px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.underline {
    position: relative;
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    color: #000;
    text-align: center;
    margin-bottom: 32px;
}

.underline:after {
    content: "";
    position: absolute;
    left: 43.5%;
    right: 43.5%;
    bottom: -10px;
    height: 3px;
    background-color: #29ABE2;
    border-radius: 3px;
}

.input-wrapper input {
    box-sizing: border-box;
    width: 90%;
    min-height: 48px;
    padding: 12px;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    margin: 12px;
}

.button-row {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 40px;
}

.btn-primary,
.btn-secondary {
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    height: 48px;
    border-radius: 8px;
    border-color: #2A3647;
    background-color: #2A3647;
    font-size: 16px;
    flex: 1;
    transition: background-color 0.2s ease;
}

.btn-secondary:hover,
.btn-primary:hover {
    background-color: #ffffff;
    color: #2A3647;
    border-color: #2A3647;
    border-radius: 8px;
}

.footer-links {
    display: flex;
    gap: 24px;
    font-size: 14px;
}

.footer-links a {
    color: #2A3647;
    text-decoration: none;
}

.email-input {
    background-image: url("/assets/img/mail.svg");
    background-repeat: no-repeat;
    background-position: right 24px center;
}

.password-input {
    background-image: url("/assets/img/lock.png");
    background-repeat: no-repeat;
    background-position: right 24px center;
}

.name-input {
    background-image: url("/assets/img/person.png");
    background-repeat: no-repeat;
    background-position: right 24px center;
}

.back-icon {
    display: flex;
    justify-content: left;
    align-items: center;
    object-fit: contain;
}

.back_to_login {
    display: flex;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 20px;
}