body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f6f7f8;
}

.privacy-main {
  margin-left: 210px;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.icons-display-none {
  display: none !important;
}

.privacy-policy-link,
.privacy-policy-link:hover {
  background-color: #091930;
  color: #007bff;
}