@import url("global.css");

.sidebar {
  width: 22.138rem;
  height: 100vh;
  background-color: var(--clr-700);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}


.sidebar-logo {
  align-self: center;
  margin: 2rem;
}


.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.nav-link {
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--clr-200);
  text-decoration: none;
  font-size: var(--fs-16);
  font-weight: 400;
  transition: background-color 0.2s ease;
  padding: 8px 48px;
  text-wrap-mode: nowrap;
}


.add-task-link:hover,
.board-link:hover,
.contacts-link:hover,
.summary-link:hover,
.log-in-link:hover {
  background-color: var(--clr-600);
}


.privacy-policy-link:hover,
.legal-link:hover {
  background-color: none;
  color: var(--clr-500);
}


.nav-link img {
  width: 24px;
  height: 24px;
}


.sidebar-footer {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  font-family: 'Inter', sans-serif;
}


.sidebar-footer-links {
  display: flex;
  flex-direction: column;
  gap: 6px;
}


.sidebar-footer-links a {
  text-decoration: none;
  transition: color 0.2s ease;
  margin: 6px 0;
  justify-content: center;
}