@import url("global.css");

.summary-link,
.summary-link:hover {
  background-color: var(--clr-900);
}

.summary-main {
  margin-left: 210px;
  padding: 40px;
}

.summary-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.summary-header h1 {
  font-size: 36px;
  color: var(--clr-700);
  margin: 0;
}

.metrics-divider {
  width: 2px;
  height: 36px;
  background-color: var(--clr-500);
  border-radius: 2px;
  pointer-events: none;
  user-select: none;
  outline: none;
}

.metrics-title {
  font-size: 20px;
  font-weight: 400;
  color: var(--clr-300)
}

.summary-container {
  display: flex;
  gap: 48px;
  align-items: flex-start;
}

.summary-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50%;
}

.flex-row {
  display: flex;
  gap: 16px;
}

.summary-box {
  background-color: var(--clr-200);
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  box-sizing: border-box;
  text-align: center;
  flex-direction: column;
}

#todo,
#done {
  width: 260px;
  height: 140px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.todo .metric,
.done .metric {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.urgent {
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
  gap: 6px;
}

.flex-row.mini-row {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.summary-box.mini {
  flex-direction: column;
  justify-content: center;
}

.summary-box.mini h2 {
  font-size: 32px;
  margin: 0;
  color: var(--clr-700);
}

.summary-greeting {
  align-self: center;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#summary-greeting {
  font-size: 36px;
  font-weight: bold;
  color: var(--clr-700);
  line-height: 1.2;
}

#summary-greeting span {
  color: var(--clr-500);
}

.summary-box h2 {
  font-size: 32px;
  margin: 0;
  color: var(--clr-700);
}

.summary-box span {
  font-size: 13px;
  color: var(--clr-700);
}

.summary-box img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.urgent-left,
.urgent-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.urgent-left {
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.divider {
  width: 1px;
  height: 100px;
  background-color: var(--clr-200);
  margin: 0;
}

#deadline-date {
  font-size: 20px;
  color: var(--clr-700);
  font-weight: bold;
}

.deadline-title {
  font-size: 11px;
  color: var(--clr-700);
}


.summary-box:hover {
  background-color: var(--clr-900);
  scale: 110%;
  transition: 0.2s ease-in-out;

  h2,
  #deadline-date,
  span {
    color: var(--clr-200);
  }

}