/* Media Querry Big Displays */
@media (min-width: 1200px) {}

/* Media Querry Small Displays */
@media (max-width: 900px) {}


@media (max-width: 800px) {}


@media (max-width: 620px) {

    .topbar {
        height: 6vh;
        padding: 10px;
    }

    .topbar-title {
        display: none;
    }

    .topbar-logo {
        display: block;
        width: 10%;
    }

    .topbar-icons {
        justify-content: space-between;
    }

    .menu {
        padding: 6px;
        border-radius: 16px 0px 0px 16px;
    }
}



@media (max-width: 490px) {}

@media (max-width: 320px) {}