@media (max-width: 1100px) {
    #edit-task-form {
        flex-direction: column;
    }

    .edit-task-main {
        max-height: 560px;
        margin: 32px;
    }

    #edit-task-form {
        overflow: auto;
    }

    #popup-title h2 {
        font-size: 36px;
        font-weight: 700;
    }

    .overlay-content {
        font-size: 16px;
    }

    .overlay-key {
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    .overlay-content {
        max-width: 320px;
    }
}

@media (max-width: 520px) {
    .edit-task-cancel-and-save-btn {
        flex-direction: column;
        align-items: center;
    }

    #editing-priority-buttons {
        gap: 8px;
    }

    #editing-priority-buttons button {
        text-wrap-mode: nowrap;
        font-size: 16px;
        height: 32px;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    #editing-priority-buttons button img {
        height: 13px;
        width: 17.06px;
        object-fit: contain;
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

@media (max-width: 500px) {
    .overlay-content {
        width: 256px;
    }

    .edit-task-main h1 {
        font-size: 40px;
    }
}

@media (max-width: 450px) {
    #editing-contacts-selected {
        font-size: 16px;
    }
}



@media (max-width: 400px) {
    .edit-task-main {
        position: relative;
        top: 120px;
        margin: 0px;
        padding: 4rem 2rem;
    }

    .required-explain {
        margin-top: 2px;
    }
}


@media (min-width: 1100px) {
    .edit-task-form-content {
        gap: 10px;
    }
}