/* Opened Task background */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Opened Task lightbox Content */
.overlay-content {
  background-color: var(--clr-200);
  border-radius: 25px;
  padding: 2rem;
  max-width: 800px;
  position: relative;
}

/* Close Button Task lightbox Content */
#overlay-close,
.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: var(--clr-700);
}

#overlay-close:hover,
.close-btn:hover {
  background-color: var(--clr-300);
  color: red;
  border-radius: 100%;
}

.overlay-section {
  margin-bottom: 20px;
}

/* Save and Close button on opened Task */
.overlay-actions {
  display: flex;
  justify-content: end;
  align-items: center;
}

.overlay-actions button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-200);
  gap: 6px;
  color: var(--clr-700);
  padding: 1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.overlay-actions button:hover {
  color: var(--clr-500);
}

.initials-task-overlay,
.initials-task {
  height: 20px;
  width: 20px;
  aspect-ratio: 1;
  padding: 0.7rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-16);
  color: var(--clr-200);
  border: 1px solid var(--clr-200);
  margin-top: 5px;
  margin-left: -10px;
}

.initials-task-overlay {
  margin: 5px;
  width: 22px;
  height: 22px;
}

#popup-subtasks {
  list-style: none;
  padding: 0;
  overflow: auto;
  max-height: 150px;
}

.assigned-item {
  display: flex;
  align-items: center;
  justify-content: start;
}

.overlay .assigned-initials {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  aspect-ratio: 1;
  margin: 4px 0;
}

.overlay .initials-task {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: var(--clr-200);
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border: 2px solid var(--clr-200);
  margin-left: -10px;
  z-index: 1;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  position: relative;
}

.overlay-key {
  font-size: var(--fs-16);
  color: var(--clr-400);
}

#form-add-task {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: min-content;
  width: 80%;
  max-width: 1600px;
  padding: 2rem;
  border-radius: 25px;
  background: var(--clr-200);
  z-index: 1000;
}

li {
  display: flex;
  justify-content: start;
  align-items: center;
}

.overlay-section input {
  max-width: 25px;
  font-size: var(--fs-16);
}

.separate-delete-edit {
  height: 24px;
  width: 1.5px;
  background-color: rgb(0, 0, 0, 0.1);
}

.title-input {
  font-size: 35px;
  color: black;
}

.priorty-img {
  width: 16px;
  object-fit: contain;
}

.string-img {
  display: flex;
  gap: 8px;
}