/* @import url("global.css"); */

.privacy-main {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 900px;
  margin-left: calc(22.138rem + 6rem);
  margin-right: auto;
}

.privacy-policy-link {
  background-color: var(--clr-900);
}

h2 {
  font-size: var(--fs-27);
  margin: 32px 0 10px 0;
}

li {
  font-size: 14px;
}
