<div class="topbar">
  <span class="topbar-title">Kanban Project Management Tool</span>

  <img class="topbar-logo" src="/assets/img/logo-start.png" alt="">
  <div class="topbar-icons icons-display-none">
    <a class="help-button" href="help.html"><img src="assets/img/help.png" alt="Help Icon" class="topbar-icon" /></a>
    <div onclick="openMenu()" class="topbar-user">SM</div>
  </div>
</div>

<div id="menuID" class="menu display-none">
  <a class="display-none" href="../help.html">Help</a>
  <a href="../legal.html">Legal Notice</a>
  <a href="../privacy-policy.html">Privacy Policy</a>
  <a href="../index.html">Log out</a>
</div>