/* Media Querry Big Displays */
@media (min-width: 1920px) {
    select#category {
        min-height: 50px;
      min-width: 480px; /* Beibehaltung der Mindestbreite */
      font-size: calc(var(--fs-20) * 1); /* Stärkere Reduzierung der Schriftgröße auf 80% */
      
      background-color: rgba(255, 0, 0, 0.1); 
    }
  
    .add-task-form-content {
      flex: 1 1 50%; /* Erhöht die Flexibilität des Containers */
      min-width: 480px; /* Mindestbreite, um die Kinder zu unterstützen */
    }
  }
  
  /* Media Querry Small Displays */
  @media (max-width: 900px) {}
  
  @media (max-width: 850px) {
    #add-task-form {
      display: flex;
      flex-direction: column;
    }
}

@media (max-width: 800px) {

    h1 {
        font-size: 47px !important;
    }

    #sidebar-footer {
      display: none;
    }
  
    .add-task-main {
      margin: 0;
      padding: 1rem;
      padding-bottom: 71px;
    }
  
    input {
      box-sizing: border-box;
    }
  
    .add-task-create-and-clear-btn {
      padding: 10px;
      gap: 5px;
    }
  
    .required-explain {
      display: none;
      font-size: var(--fs-20);
    }
  
    .required-explain-responsive {
      font-size: var(--fs-20);
      display: block;
    }
  }
  
  @media (max-width: 490px) {}
  
  @media (max-width: 320px) {}