@media (max-width: 1120px) {

    .add-contact-left,
    .edit-contact-left {
        width: 192px;
    }

    .add-contact-left h1,
    .edit-contact-left h1 {
        font-size: 32.25px;
    }

    .add-contact-left span,
    .edit-contact-left span {
        font-size: 15px;
    }

    .add-contact-right,
    .edit-contact-right {
        padding: 80px 40px;
    }

    .name-email-phone-input {
        width: 225px;
    }

    .button-cansel,
    .button-delete {
        font-size: 12px;
        padding: 9px 15px;
    }

    .button-create-contact,
    .button-save {
        font-size: 12px;
        padding: 9px 15px;
    }

    .buttons-div-form span {
        font-size: 9px;
    }

    .buttons-div-form img {
        width: 9px;
        height: 9px;
    }
}

@media (max-width: 1000px) {

    .add-contact-div,
    .edit-contact-div {
        flex-direction: column;
    }

    .add-contact-left,
    .edit-contact-left {
        width: auto;
        align-items: center;
        border-radius: 16px 16px 0px 0px;
    }

    .add-contact-left img,
    .edit-contact-left img {
        margin-top: 0;
    }

    .add-contact-right,
    .edit-contact-right {
        flex-direction: column;
        padding-top: 16px;
        gap: 16px;
        padding-bottom: 16px;
    }

    .add-contact-img-div,
    .edit-contact-img-div {
        margin-top: 0;
        display: flex;
        justify-content: center;
    }

    .buttons-div-form {
        display: flex;
        justify-content: center;
    }

    .separate-add-contact,
    .separate-edit-contact {
        margin-right: 121px;
    }

    .close-button {
        color: white;
    }
}

@media (max-width: 620px) {

    #sidebar-footer {
        display: none;
    }

    .add-contact-div,
    .edit-contact-div {
        margin-left: 0;
    }

    .add-contact-left,
    .edit-contact-left {
        padding: 80px 16px;
        align-items: flex-start;
    }

    .add-contact-left img,
    .edit-contact-left img {
        display: none;
    }

    .separate-add-contact,
    .separate-edit-contact {
        margin-left: 0;
    }

    .add-contact-right,
    .edit-contact-right {
        padding: 64px 16px 56px 16px;
    }

    .add-contact-img,
    .edit-contact-img {
        position: absolute;
        top: 200px;
    }

    .name-email-phone-input {
        width: 256px;
    }

    .button-cansel {
        display: none;
    }

    .button-create-contact,
    .button-save {
        font-size: 16px;
    }

    .close-button {
        right: 24px;
    }
}

@media (max-height: 667px) {

    .add-contact-div,
    .edit-contact-div {
        margin-bottom: 73px;
    }
}