/* Media Querry Big Displays */
@media (min-width: 1200px) {

    #contacts-main {
        height: calc(100vh - 124px);
        padding: 2rem 2rem 0 2rem;
        margin-left: 22.138rem;
        display: flex;
        justify-content: space-evenly;
    }

    #left-section {
        max-width: 800px;
    }

    #add-contact-btn-big {
        max-width: 450px;
        align-self: center;
    }

    #lightbox {
        max-height: 60vh;
        max-width: 1400px;
    }

}

/* Media Querry Small Displays */
@media (max-width: 954px) {
    .contact-details-haeder {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: start;
        gap: 8px;
    }

    .split-contact-header {
        position: absolute;
        rotate: 90deg;
        top: 220px;
        left: 620px;
        height: 90px;
    }

    #right-section {
        padding: 0;
    }
}


@media (max-width: 850px) {}

@media (max-width: 800px) {

    #add-contact-btn-big {
        display: none;
    }

    #current-btns {
        gap: 0;
        flex-direction: column;
        position: absolute;
        top: 85%;
        right: 0%;
        transform: translateX(200%);
        transition: transform 0.5s ease-in-out;
        background-color: var(--clr-200);
        z-index: 9999;
        box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
        border-radius: 25px;
    }

    #current-btns.show {
        transform: translateX(0);
    }

    #current-edit {
        height: 50px;
        border-radius: 25px 25px 0 0;
    }

    #current-delete {
        height: 50px;
        border-radius: 0 0 0 25px;
    }



    #responsive-small-edit,
    #responsive-small-add {
        position: absolute;
        top: 77%;
        right: 10%;
        background-color: var(--clr-700);
        height: 56px;
        width: 56px;
        border: 2px solid var(--clr-200);
        border-radius: 75px;
        z-index: 1000;
    }



    #contacts-main {
        margin: 0;
        height: calc(100vh - 169px);
        padding: 1rem 1rem 0 1rem;
    }

    #right-section {
        padding: 0;
        position: absolute;
        background-color: var(--clr-200);
        height: calc(100vh - 169px);
        width: 95%;
        overflow-x: hidden;
        overflow-y: scroll;
    }



    .split-contact-header {
        position: absolute;
        rotate: 90deg;
        top: 70px;
        left: 55px;
        height: 90px;
    }

    #showed-current-contact {
        padding: 2rem 1rem;
    }

    .current-top {
        gap: 21px;
    }


    #left-section {
        max-width: none;
    }


    .responsive-wrapper {
        display: flex;
        justify-content: space-between;
        width: 90%;
    }

    #back-icon {
        padding: 0;
        display: block;
    }


    #lightbox {
        flex-direction: column;
        height: 100%;
        transform: translatey(100%);
    }

    .join-logo-left {
        display: none;
    }

    #lightbox h2 {
        font-size: var(--fs-47);
        margin: 1rem;
    }

    #edit-icon {
        position: absolute;
        top: 24%;
        border: 2px solid var(--clr-200);
    }

    #lightbox input {
        min-width: 0;
    }

    .lightbox-right {
        border-radius: 0 0 20px 20px;
        padding: 1rem 0;
    }

    .lightbox-left {
        border-radius: 20px 20px 0 0;
        padding: 4rem 0;
    }

    .lightbox-left span {
        font-size: 20px;
    }

    #current-name {
        font-size: 25px;
    }

    #current-icon {
        height: 80px;
        width: 80px;
        font-size: 25px;
    }

    .current-icon {
        display: none;
    }
}

@media (max-width: 490px) {}

@media (max-width: 320px) {}