@media (min-width: 801px) {
    .starting-logo-responsive {
        display: none;
    }
}

@media (max-width: 800px) {
    .starting-logo-responsive {
        animation: slideToLeftCornerResponsive 1.25s ease forwards;
        animation-delay: 0.75s;
        background-color: var(--clr-700);
    }

    .starting-logo-responsive img {
        object-fit: contain;
    }

    @keyframes slideToLeftCornerResponsive {
        to {
            width: 250px;
            height: 150px;
            top: 20px;
            left: 40px;
            opacity: 0;
            transform: scale(0.9);
        }
    }
}