@media (min-width: 801px) {
    .starting-logo-responsive {
        display: none;
    }
}

@media (max-width: 800px) {
    .starting-logo-responsive {
        animation: slideToLeftCornerResponsive 1.25s 0.75s ease forwards;
        background-color: var(--clr-700);
    }

    .starting-logo{
        transform: scale(.37);
    }

    @keyframes slideToLeftCornerResponsive {
        to {
            width: 150px;
            height: 80px;
            top: 32px;
            opacity: 0;
        }

        30%{
            background-color: transparent;
            opacity: 0;
        }
    }
    
    @keyframes slideToLeftCorner {
        to {
            width: 150px;
            height: 80px;
            top: 32px;
        }

        1%{
            object-fit: contain;
        }

        10% {
            background-color: transparent;
        }

        100% {
             transform: scale(1);
             object-fit: contain;
             background-color: transparent;
        }
    }
}


