/* Media Querry Big Displays */
@media (min-width: 1200px) {
    .underline:after {
        left: 45.5%;
        right: 45.5%;
    }
}

/* Media Querry Small Displays */
@media (max-width: 900px) {}


@media (max-width: 800px) {

    .login-page-wrapper {
        height: auto;
        padding: 16rem 1rem 1rem 1rem;
        justify-content: space-between;
    }

    .login-box {
        width: 90%;
    }

    .sign-up-wrapper-responsive {
        font-size: var(--fs-16);
        color: var(--clr-700);
        display: flex;
        align-items: center;
        padding: 2rem;
        gap: 8px;
    }

    .sign-up-wrapper {
        display: none;
    }

    #sidebar-footer {
        display: none;
    }

    .underline:after {
        left: 38%;
        right: 38%;
    }
}


@media (max-width: 490px) {

    .btn-primary,
    .btn-secondary {
        padding: 7px;
        font-size: 12px;

    }

    .underline:after {
        left: 36.5%;
        right: 36.5%;
    }

    .button-row {
        flex-direction: column;
        margin: 5px;
    }
}

@media (max-width: 320px) {
    .underline:after {
        left: 28.5%;
        right: 28.5%;
    }
}