/* Media Querry Big Displays */
@media (min-width: 1200px) {
    .underline:after {
        left: 45.5%;
        right: 45.5%;
    }
}

/* Media Querry Small Displays */
@media (max-width: 900px) {}


@media (max-width: 800px) {
    #sidebar-footer {
        display: none;
    }

    .underline:after {
        left: 38%;
        right: 38%;
    }
}


@media (max-width: 490px) {

    .login-page-wrapper {
        height: calc(100vh - 40px);
        padding: 10px;
    }

    .btn-primary,
    .btn-secondary {
        padding: 7px;
        font-size: 12px;

    }

    .underline:after {
        left: 36.5%;
        right: 36.5%;
    }

    .sign-up-wrapper {
        position: absolute;
        top: 875px;
        right: 30px;
        font-size: 16px;
        color: #2A3647;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .button-row {
        flex-direction: column;
        margin: 5px;
    }
}

@media (max-width: 320px) {
    .underline:after {
        left: 28.5%;
        right: 28.5%;
    }
}