/* Media Querry Big Displays */
@media (min-width: 1200px) {}

/* Media Querry Small Displays */
@media (max-width: 900px) {}


@media (max-width: 800px) {}


@media (max-width: 620px) {

    #sidebar-footer {
        display: none;
    }

    .summary-main {
        margin: 0;
        padding: 10px;
    }

    .summary-greeting {
        display: none;
    }

    .summary-left {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
    }

    .summary-header {
        flex-direction: column;
        align-items: start;
    }

    .metrics-divider {
        display: none;
    }

    .metrics-title {
        font-size: 20px;
        font-weight: 400;
        color: #647187;
    }

    .metrics-title:after {
        content: "";
        position: absolute;
        left: 3%;
        right: 71%;
        top: 200px;
        height: 3px;
        background-color: #29ABE2;
        border-radius: 3px;
    }

    .summary-box,
    .urgent {
        padding: 10px;
    }
}


@media (max-width: 490px) {}

@media (max-width: 320px) {}